@import "../../../../styles/variables";

:host {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  max-width: $container-max-width-900;
  padding-top: 1vh;
}

@media screen and(min-width: 769px) and (max-width: 1279px) {
  :host(.list) {
    max-width: calc(#{$container-max-width-900} / 1.5);
  }
}

@media screen and(max-width: 768px) {
  :host(.list) {
    max-width: calc(#{$container-max-width-900} / 3);
  }
}

@media screen  and (max-width: 1279px) {
  :host(.bar) {
    max-width: 90%;
  }
}
