.pagination {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    display: flex;
    justify-content: space-between;

    .controls {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #000;
    }

    .pointer {
      cursor: pointer;
    }

    .current {
      border-radius: 50%;
      background: #3f51b5;
      color: #fff;
    }

    .arrow-disabled {
      color: #919191;
      cursor: default;
    }
  }
}
