.proceed-btn {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.mat-action-row {
  padding: 16px 24px;
}

.header-icon {
  margin-right: 0.5rem;
}

mat-panel-title {
  align-items: center;
}

mat-expansion-panel {
  margin-bottom: 0.25rem;
}

mat-expansion-panel-header {
  min-height: 48px;
  height: auto;
}

.edit-button {
  display: flex;
  align-self: center;
}
